<!DOCTYPE html>
{% extends "third_task/menu.html" %}
<html lang="en">
<head>
    {% block pagename %}
        <meta charset="UTF-8">
        <title>Ваш выбор</title>
        <h1>Корзина</h1>
    {% endblock %}
</head>
<body>
    {% block menu %}
        {{ block.super }}
    {% endblock %}

    {% block content %}
        <h2>{{ cont }}</h2>
        <ul>
        </ul>

    <button> <h2><a href="{% url 'button' %}">На главную</a></h2></button>

    {% endblock %}

</body>
</html>